.game-container {
  color: white;
  text-align: center;
  font-family: cursive;
  padding: 20px;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  text-shadow: 1px 1px 0 #000, /* Sombra à direita e abaixo */ -1px -1px 0 #000,
    /* Sombra à esquerda e acima */ 1px -1px 0 #000,
    /* Sombra à direita e acima */ -1px 1px 0 #000;

  @font-face {
    font-family: "JJK";
    src: url("../../assets/font/JJK.ttf") format("woff2");
    font-weight: normal;
  }
  h1 {
    font-family: "JJK";
    color: white;
    position: relative;
    font-size: 100px;
    margin-bottom: 20px;
  }

  .characteristics-header {
    display: flex;
    justify-content: center;
    width: 100%;

    .hint-box-header {
      border-radius: 10px;
      background-color: rgba(28 28 28 / 70%);
      display: flex;
      height: 55px;
      margin-bottom: 10px;
      align-items: flex-end;
    }
    .hint-box {
      padding: 5px;
      margin: 0 10px;
      font-weight: bold;
      background-color: transparent;
      border: none;
      justify-content: center;
      display: flex;
    }
    .hint-box-container {
      width: 70px;
      padding: 7px;
      font-size: 13px;
      display: flex;
      flex-direction: column;
      align-items: normal;
    }

    .header-line {
      border-color: red;
      margin: 0px;
    }
  }

  .characterImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    width: 70px;
    height: 70px;
    margin-right: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
  }

  .input-container {
    display: inline-flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;

    input {
      padding: 10px;
      font-size: 16px;
      width: 100%;
      box-sizing: border-box;
    }

    .search-results {
      display: flex;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 5px;
      position: absolute;
      top: 40px;
      left: 0;
      width: 100%;
      border: 1px solid #ccc;
      background-color: #fff;
      z-index: 10;
      color: white;
      flex-direction: column;

      .list-group-item {
        padding: 10px;
        cursor: pointer;
        justify-content: left;
        display: flex;
        align-items: center;
        &:hover {
          background-color: #f0f0f0;
        }
      }
    }

    button {
      font-family: cursive;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .guessed-characters {
    backdrop-filter: blur(1px);
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    width: 100%;

    .character-box {
      border-radius: 10px;
      padding: 10px;

      .character-info {
        display: flex;
        align-items: center;

        .character-name {
          background-color: #f0f0f0;
          border: 2px solid #000000;
          border-radius: 10px;
          margin-right: 10px;
          width: 70px;
          height: 70px;
          display: flex;
          justify-content: center;
          align-items: center;

          h3 {
            font-weight: bold;
            margin: 0;
          }
          .hints-container {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: end;
          }
        }
      }
    }
  }
}
