<div class="game-container">
  <h1>Jujutsudle</h1>
  <div class="input-container">
    <input [(ngModel)]="guess" (input)="updateSearchResults()" placeholder="Guess the character" class="form-control">
    <div *ngIf="searchResults.length > 0" class="search-results list-group">
      <button *ngFor="let result of searchResults" (click)="selectCharacter(result.name);" class="list-group-item list-group-item-action">
        <img [src]="result.photo" alt="{{ result.name }}" class="characterImage">
        {{ result.name }}
      </button>
    </div>
    <button (click)="checkGuess()" class="btn btn-primary mt-2">GUESS</button>
  </div>
<div class="game-header">

<div class="characteristics-header">
  <div class="hint-box-header">
    <div class="hint-box-container" *ngFor="let characteristic of characteristicNames">
      <div class="hint-box">
        <p class="hint m-0" [innerHTML]="characteristic" ></p>
        </div>
        <hr class="header-line">
      </div>
    </div>
  </div>

  <div *ngIf="guessedCharacter" class="guessed-characters mt-4">
    <div *ngFor="let character of guessedCharacters" class="character-box border p-3 rounded mb-3">
      <div class="character-info d-flex align-items-center">
          <img [src]="character.photo" alt="{{ character.name }}" class="characterImage">        
        <div class="hints-container d-flex flex-wrap">
          
          <div class="hint-box-container">
            <div class="hint-box border rounded p-2 me-2 mb-2" [ngClass]="{ 'common': isHintCommon(character.gender, currentCharacter.gender), 'uncommon': !isHintCommon(character.gender, currentCharacter.gender) }">
              <p class="hint m-0">{{ character.gender }}</p>
            </div>
          </div>

          <div class="hint-box-container">
            <div class="hint-box border rounded p-2 me-2 mb-2" [ngClass]="{ 'common': isHintCommon(character.species, currentCharacter.species), 'uncommon': !isHintCommon(character.species, currentCharacter.species) }">
              <p class="hint m-0">{{ character.species }}</p>
            </div>
          </div>

          <div class="hint-box-container">
            <div class="hint-box border rounded p-2 me-2 mb-2" [ngClass]="{ 'common': isHintCommon(character.hair, currentCharacter.hair), 'uncommon': !isHintCommon(character.hair, currentCharacter.hair) }">
              <p class="hint m-0">{{ character.hair }}</p>
            </div>
          </div>

          <div class="hint-box-container">
            <div class="hint-box border rounded p-2 me-2 mb-2" [ngClass]="{ 'common': isHintCommon(character.innateTechniques, currentCharacter.innateTechniques), 'uncommon': !isHintCommon(character.innateTechniques, currentCharacter.innateTechniques) }">
              <p class="hint m-0">{{ character.innateTechniques }}</p>
            </div>
          </div>

          <div class="hint-box-container">
            <div class="hint-box border rounded p-2 me-2 mb-2" [ngClass]="{ 'common': isHintCommon(character.domainExpansion, currentCharacter.domainExpansion), 'uncommon': !isHintCommon(character.domainExpansion, currentCharacter.domainExpansion) }">
              <p class="hint m-0">{{ character.domainExpansion }}</p>
            </div>
          </div>

          <div class="hint-box-container">
            <div class="hint-box border rounded p-2 me-2 mb-2" [ngClass]="{ 'common': isHintCommon(character.grade, currentCharacter.grade), 'uncommon': !isHintCommon(character.grade, currentCharacter.grade) }">
              <p class="hint m-0">{{ character.grade }}</p>
            </div>
          </div>

          <div class="hint-box-container">
            <div class="hint-box border rounded p-2 me-2 mb-2" [ngClass]="{ 'common': isHintCommon(character.arcDebut, currentCharacter.arcDebut), 'uncommon': !isHintCommon(character.arcDebut, currentCharacter.arcDebut) }">
              <p class="hint m-0">{{ character.arcDebut }}</p>
             </div>
            </div>
          </div> 
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="message" class="alert alert-info mt-3">{{ message }}</div>
</div>
